


p{
    color: black;
}

.red{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 200px;
}

.green {
    display: inline-block;
    background-color:green;
    width: 200px;
    height: 200px;
}

.blue{
    display: inline-block;
    background-color: blue;
    width: 200px;
    height: 200px;
}