.circle1 {
    margin: 4em;
    height: 10em;
    width: 10em;
    background-color: black;
    border-radius: 100px;
}

.circle2 {
    margin: 4em;
    height: 10em;
    width: 10em;
    background-color: rgb(168, 59, 26);
    border-radius: 100px;
}  