
/* red recatngle */
.flag {
    width: 900px;
    height: 600px;
    background-color: red;
    position: relative;
}


/* blue rectangle */
.flag > div{
    background-color: blue;
    height: 300px;
    width: 100%;
    position: absolute;
    top:150px ;
}


/*  */
.flag > div > div {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative ;
    top: 50px;
    left: 350px;
}
p{
    margin: 0;
    font-size: 4rem;
    text-align: center;
}
.flag > p{
    color: white;
    text-align: center;
}