*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family:'Courier New', Courier, monospace;
}

i{
    color: green;
}

i{
    color : red;
}    

b{
    color: pink;
}

p b{
    color: blueviolet !important;
}

p b {
    color : rgb(38, 203, 112);
}

#intro {
    font-size:10px;
    font-style: italic;
}