*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display:grid;   
    grid-template-rows : 25% 25% 25% 25%;
}
#child1{
    height: 50%;
    width: 50%;
    background-color: rgb(228, 112, 3);
    border: 2px solid white;
    /* align-self:flex-end;
    justify-self: flex-start; */
}
#child2{
    background-color: crimson;
    border: 2px solid white;
}
#child3{
    background-color: rgb(22, 214, 102);
    border: 2px solid white;
}
#child4{
    background-color: rgb(52, 70, 150);
    border: 2px solid white;
}