*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
 
#parent{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#child1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    justify-self: flex-end;
}
#child2{
    height: 200px;
    width: 200px;
    background-color: rgb(33, 122, 182);
    align-self:center ;
}
#child3{
    height: 200px;
    width: 200px;
    align-self: flex-start;
    background-color: rgb(0, 204, 119);
}

/* nav{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: ;
    background-color: lightblue;
    align-items: center;
    justify-content:center;
    gap: 40px;
} */