*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
/*@media (max-width : 600px) {    jo value dere uske aandr tak rhi width jab tk wo
    body{
        background-color: pink;
    }
}*/

/* @media (max-width : 600px) {
    #box{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}
nav img{
    height: 100px;
    width: 100px;
    /* background-color: aquamarine; */
    padding: 20px;
    margin-left: 30px 
}
#nav1{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-right: 20px;
}
#nav2 h5{
    font-size: 20px;
    display: none;
}
@media (max-width : 600px) {
    nav{
        background-color: rgb(0, 208, 208);
    }
    #nav1 h2{
        font-size: 22px;
    }
    nav img {
    height: 80px;
    width: 80px; 
    }
    #nav2 h3{
        display: none;
    }
    #nav2 h5{
        display: inline-block;
    }
}
